* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 2rem;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5rem 15rem repeat(2, 8rem) 10rem;

  grid-template-areas:
    "header menu_nav menu_nav menu_nav"
    "hero hero hero hero"
    "main main . image"
    "main main . extra"
    "banner banner banner banner";
}

.grid__container > * {
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  font-size: 2.4rem;
}

.header {
  grid-area: header;
  background-color: #66bb6a;
}

.menu {
  grid-area: menu_nav;
  background-color: #fff176;
}

.hero {
  grid-area: hero;
  background-color: #80deea;
}

.main {
  grid-area: main;
  background-color: #ff8a65;
}

.image {
  grid-area: image;
  background-color: #bdbdbd;
}

.extra {
  grid-area: extra;
  background-color: #f48fb1;
}

.banner {
  grid-area: banner;
  background-color: #e57373;
}

@media screen and (max-width: 992px) {
  .grid__container {
    grid-template-rows: 5rem 15rem 15rem 8rem 10rem;

    grid-template-areas:
      "header header header header"
      "hero hero hero hero"
      "menu_nav main main main"
      "menu_nav banner banner banner"
      "menu_nav extra extra image";
  }
}

@media screen and (max-width: 570px) {
  .grid__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 5rem) repeat(2, 15rem) repeat(3, 9rem);

    grid-template-areas:
      "header"
      "menu_nav"
      "hero"
      "main"
      "banner"
      "extra"
      "image";
  }
}
