* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.grid__container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(6, 1fr);
}

.grid__item {
  background-color: #029bed;
  border: 1px solid #000;
  text-align: center;
  font-size: 1.6rem;
  padding: 3rem;
}
